/* style.css */
body {
  font-family: Overpass;
  color: #404042;
  font-size: 18px;
}

h1, h2, h3 {
  font-family: Chivo;
}

a {
  color: #1A48E3;
  font-weight: bold;
  text-decoration: none;
  transition: .3s;
}

a:hover {
  color: #850cad;
}